# Demographic Data Analyzer

 Visualised and made calculations from medical examination data using matplotlib, seaborn, and pandas. The dataset values were collected during medical examinations.

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

How many of people each race are represented in this dataset?

In [4]:
df.groupby('race').age.count().sort_values(ascending = False).values

array([27816,  3124,  1039,   311,   271])

What is the average age of men?

In [6]:
df[df['sex']=='Male']['age'].mean()

39.43354749885268

What is the percentage of people who have a Bachelor's degree?

In [7]:
df.groupby(['education']).count().age.Bachelors /df.groupby(['education']).count().sum().age * 100

16.44605509658794

What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

In [8]:
df[(df["education-num"]>12) & (df["salary"]==">50K")].count().age / df[df["education-num"]>=13].count().age * 100

48.45667534399405

What percentage of people without advanced education make more than 50K?

In [9]:
(df[df['education']=="Bachelors"].count().salary / df[df['education']=="Bachelors"].count().sum() ) * 100

6.666666666666667

Percentage with salary >50K

In [10]:
 df[(df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])) & (df["salary"]==">50K")].count().age / df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])].count().age * 100

46.535843011613935

What is the minimum number of hours a person works per week (hours-per-week feature)?

In [12]:
df['hours-per-week'].min()

1

What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [13]:
df[df["hours-per-week"]==df['hours-per-week'].min()].count().age

20

What country has the highest percentage of people that earn >50K?

In [14]:
all = df[['native-country','salary']]
entire = all.groupby(['native-country']).count()
plus50k = all[df['salary']=='>50K']
plus50k = plus50k.groupby(['native-country']).count()
plus50k = (plus50k*100)/entire
plus50k.sort_values(by= ['salary'] , inplace = True , ascending = False )
final = pd.Series(plus50k['salary'])
highest_earning_country = final.index[0]
highest_earning_country_percentage = round(final.values[0] ,1)
highest_earning_country_percentage

41.9

Identify the most popular occupation for those who earn >50K in India.

In [15]:
all = df[['salary','native-country','occupation']]
india50K = all[(all['salary']=='>50K')&(all['native-country']=='India')]
data = india50K.groupby(['occupation']).count().sort_values(by=['salary'] , ascending =False)
top_IN_occupation = data.index[0]
top_IN_occupation

'Prof-specialty'